.hamburger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;

    .line {
        width: 2rem;
        height: 0.25rem;
        background-color: #333;
        border-radius: 10px;
    }
}