*, *::before, *::after { box-sizing: border-box; }

.todo-content {
    padding: 2rem;

    .header {
        position: relative;
        h4 {
            display: inline-block;
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 1rem 0;
        }

        .profile-header { 
            h4 {
                display: none;
            }

            img {
                height: 45px;
                width: 45px;
                border-radius: 30px;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
    }

    // .todo-body {
        .heading{
            padding: 5%;
            width: inherit;
            text-align: center;
            background-color: #f3f4f5;
            color:rgb(104, 76, 76);
            z-index: 100;
            margin-bottom: 0;
            border: 1px solid #cbcdce;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .tasks {
            border: 1px solid #cbcdce;
            border-top: none;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            
            .task-item {
                margin: 0 1rem 1rem 1rem;
            }
        }
    // }
}

@media (min-width: 800px) {
    .todo-content{
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 300px 1fr 1fr;
        grid-template-areas: "advert header header" "advert content content";

        .header{
            grid-column: 2/-1;
            height: 5rem;
        }

        aside{
            grid-area: advert;

            .sidebar {
                height: 900px;
            }
        }

        .todo {
            grid-column: 2/3;
            margin-top: -12rem;
        }

        .completed {
            grid-column: 3/4;
            margin-top: -12rem; 
        }
    }
}